button#about-button {
  width: 50%;
  height: 100%;
  font-weight: bold;
  font-size: 1vw;
  text-shadow: 2px 2px bisque;
}

button.app-button {
  border-radius: 50px;
  width: 12vw;
  height: 15%;
}

button.app-button:hover {
  background-color: cadetblue;
}

button.app-button:active {
  background-color: cadetblue;
}

button.app-button:focus {
  background-color: cadetblue;
}

button.app-button:visited {
  background-color: cadetblue;
}

.btn:hover {
  background-color: aliceblue;
}

.btn:active {
  background-color: cadetblue;
}

.btn:focus {
  background-color: cadetblue;
}
