#flag-holder {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 6vh;
  min-height: 15px;
}

.flag-icon {
  float: right;
  padding: 0px;
  background-position: inherit !important;
  cursor: pointer;
  width: 10% !important;
  height: 100% !important;
}
