.grid-container-title {
  display: grid;
  grid-row-gap: 5px;
  border: solid 3px blue;
  margin-left: 5vw;
  margin-right: 5vw;
}

.grid-container-content {
  display: grid;
  grid-row-gap: 10px;
  border: solid 3px blue;
  margin-left: 5vw;
  margin-right: 5vw;
}

.grid-container-mosaic {
  display: grid;
  grid-row-gap: 2px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.grid-container-content-columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-container-content-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-container-content-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-container-content-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  background-color: red;
  border: solid 3px green;
  padding: 2px;
}

.grid-item-mosaic {
  max-width: 100%;
  padding: 2px;
}
