#app-banner {
  text-align: center;
  vertical-align: center;
  font-family: verdana;
  font-size: 20px;
  background-image: url("../images/cat.jpg"), url("../images/tiles.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 100px 150px;
  box-shadow: 3px 3px bisque;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
  height: 75px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#app-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  text-shadow: 2px 2px bisque;
  box-shadow: 1px 1px 20px black inset;
}
