<div class="row" id="app-about-holder">
  <div class="col-12" id="app-about-title">
    About Me
  </div>
  <div class="col-10 app-about-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel ligula sit amet neque efficitur pretium.
    Vestibulum quis diam feugiat, interdum dui eu, lobortis nisi. Donec purus erat, tempor quis efficitur eu, lacinia
    rhoncus orci. Aliquam consectetur hendrerit risus at tincidunt. Maecenas at diam nec orci sagittis venenatis. Nullam
    sit amet egestas justo. In cursus, purus nec blandit iaculis, massa nisi porta massa, sit amet fringilla magna
    tellus sit amet risus. Ut viverra a justo vel iaculis. Ut id gravida turpis, in aliquam enim. Donec mi odio, aliquet
    id tellus vel, tempor rutrum est. Donec consectetur tortor eu lacinia placerat. Vestibulum sed laoreet erat.
  </div>
  <div class="col-4">
    <img class="app-image" src="../assets/images/workshop.jpg" alt="">
  </div>
  <div class="col-6 app-about-text">
    Quisque vehicula lorem metus, vitae mollis lectus luctus id. Praesent neque ante, semper et orci sit amet, feugiat
    viverra ex. Curabitur eleifend eleifend ante, ut pellentesque enim maximus eleifend. Sed eu eros eget ipsum
    tincidunt faucibus quis sed eros. Donec laoreet sollicitudin auctor. In feugiat bibendum arcu. Donec viverra ornare
    mi, quis efficitur ante aliquam nec. Nunc sapien mi, elementum sit amet semper nec, posuere nec justo. Quisque nec
    ipsum justo. Vivamus consectetur sodales enim, vitae pharetra dui egestas vitae. Nam et velit eu felis tincidunt
    lacinia. Aenean vehicula, libero non vehicula auctor, risus erat convallis nisl, vel hendrerit tellus risus sit amet
    leo. Maecenas mauris urna, sagittis vitae tortor ac, condimentum egestas felis. Sed iaculis sed lorem congue
    tincidunt. Donec a nunc bibendum purus aliquet elementum vitae eu augue.
  </div>
</div>
