<div *ngFor="let mosaic of mosaics">
  <div class="row app-mosaic-name-holder">
    <div class="col-12 app-mosaic-name">{{mosaic.name}}</div>
  </div>
  <div>
    <div class="row">
      <div class="col-6">
        <img src="{{'assets/' + mosaic.mainImg}}" class="app-main-image" alt="Responsive image">
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <p class="app-mosaic-text">
              {{mosaic.text}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <b>Created: {{mosaic.created}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-6 app-mosaic-image-holder" *ngFor="let mosaic_pic of mosaic.galleryImgs">
            <a href="#" (click)="openImg(mosaic_pic)">
              <img class="galleryPic" src="{{'assets/' + mosaic_pic}}" class="app-mosaic-image">
            </a>
            <div id="{{'gallery_pic_' + mosaic_pic}}" class="modal">
              <span class="close" (click)="closeImg(mosaic_pic)">&times;</span>
              <img class="modal-content" src="{{'assets/' + mosaic_pic}}">
              <div id="caption"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
