.app-main-image-holder {
}

.app-main-image-foot {
  font-size: 1vw;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.app-image-holder {
  height: 50vh
}

.app-carusel-holder {
  height: 50vh;
}
