#app-container {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  margin-top: 5px;
  width: auto;
  height: 50vh;
}

#app-menu {
  color: white;
  background-color: black;
  font-size: 2vw;
  padding: 15px;
}

#app-content {
  height: auto;
}

.app-container-element {
  padding: 2px;
  width: 100%;
}
