<div class="grid-container-title grid-container-content-columns-1">
  <div id="flag-holder" class="grid-item">
    <span class="flag-icon flag-icon-hr"></span>
    <span class="flag-icon flag-icon-us"></span>
  </div>
</div>
<div class="grid-container-title grid-container-content-columns-1">
  <h1 id="title-main">Title Title Title</h1>
  <div id="subtitle-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat.
  </div>
</div>

<div class="grid-container-content grid-container-content-columns-1">
  <div class="grid-item">
    <div class="grid-container-mosaic grid-container-content-columns-3">
      <div class="grid-item-mosaic mosaic-image-title">Spilimbergo1
        <div class="mosaic-image-finish-date">29.10.2018</div>
        <div class="mosaic-image-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua.
        </div>
      </div>
      <div class="grid-item-mosaic">
        <img src="../assets/spilimbergo/Spilimbergo1.jpg" alt="" class="mosaic-image">
      </div>
      <div class="grid-item-mosaic">
        <slideshow arrowSize="15px" showDots="true" [imageUrls]="imageUrlArray"></slideshow>
      </div>
    </div>
  </div>
</div>
