<div class="grid-container-title grid-container-content-columns-1">
  <div id="flag-holder" class="grid-item">
    <app-flags></app-flags>
  </div>
</div>
<div class="grid-container-title grid-container-content-columns-1">
  <div class="grid-item">
    <app-title></app-title>
  </div>
</div>

<div class="grid-container-content grid-container-content-columns-1">
  <div class="grid-item">
    <div class="grid-container-mosaic grid-container-content-columns-3">
      <div class="grid-item-mosaic mosaic-image-title">Spilimbergo1
        <div class="mosaic-image-finish-date">29.10.2018</div>
        <div class="mosaic-image-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua.
        </div>
      </div>
      <div class="grid-item-mosaic">
        <img src="../assets/spilimbergo/Spilimbergo1.jpg" alt="" class="mosaic-image">
      </div>
      <div class="grid-item-mosaic">
        <slideshow arrowSize="15px" showDots="true" [imageUrls]="imageUrlArray"></slideshow>
      </div>
    </div>
  </div>
</div>
